<div *ngIf="rule" id="rule" class="container">

    <h1><span [innerText]="rule.id"></span></h1>
    <div *ngIf="statusService.editing">

        <section>

            <h4>Basis </h4>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-floating">
                        <input class="form-control form-control-sm" name="rule_basis_system" type="text" required="true"
                            [(ngModel)]="rule.basis.system" />
                        <label for="rule_basis_system">System</label>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-floating">
                        <input class="form-control form-control-sm" name="rule_basis_code" type="text" required="true"
                            [(ngModel)]="rule.basis.code" />
                        <label for="rule_basis_code">Code</label>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-floating">
                        <input class="form-control form-control-sm" name="rule_basis_display" type="text"
                            required="true" [(ngModel)]="rule.basis.display" />
                        <label for="rule_basis_display">Display</label>
                    </div>
                </div>
            </div>
        </section>

        <section class="mt-4">
            <h4>Labels <button class="btn btn-sm btn-success" (click)="createLabel()"><i
                        class="bi bi-plus"></i></button>
            </h4>
            <div *ngIf="rule.labels">

                <div *ngFor="let l of rule.labels; let i = index" class="row">
                    <!-- <div > -->
                    <div class="col-sm-3">
                        <div class="form-floating">
                            <input class="form-control form-control-sm" name="rule_system" type="text" required="true"
                                [(ngModel)]="l.system" />
                            <label for="rule_system">System</label>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-floating">
                            <input class="form-control form-control-sm" name="rule_code" type="text" required="true"
                                [(ngModel)]="l.code" />
                            <label for="rule_code">Code</label>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-floating">
                            <input class="form-control form-control-sm" name="rule_display" type="text" required="true"
                                [(ngModel)]="l.display" />
                            <label for="rule_display">Display</label>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="btn-group">
                            <a class="btn btn-small btn-dark" (click)="deleteLabel(i)"><span
                                    class="bi bi-trash"></span></a>
                            <a class="btn btn-small btn-dark" (click)="moveUp(l, rule.labels)"
                                *ngIf="canMoveUp(l, rule.labels)"><span class="bi bi-chevron-up"></span></a>
                            <a class="btn btn-small btn-dark disabled" *ngIf="!canMoveUp(l, rule.labels)"><span
                                    class="bi bi-chevron-up"></span></a>
                            <a class="btn btn-small btn-dark disabled" *ngIf="!canMoveDown(l, rule.labels)"><span
                                    class="bi bi-chevron-down"></span></a>
                            <a class="btn btn-small btn-dark" (click)="moveDown(l, rule.labels)"
                                *ngIf="canMoveDown(l, rule.labels)"><span class="bi bi-chevron-down"></span></a>

                        </div>
                    </div>
                    <!-- </div> -->
                </div>
            </div>
        </section>

        <section class="mt-4">

            <div class="row">
                <div class="col-sm-3">
                    <!-- <select *ngIf="selectedCodeSet" class="form-select form-select-sm" [(ngModel)]="selectedCodeSet.groupID">
                <option *ngFor="let cs of rule.codeSets" [value]="cs.groupID"
                    [selected]="selectedCodeSet && cs.groupID == selectedCodeSet.groupID">{{cs.groupID}}</option>
            </select> -->
                    <h4>Code Groups <button class="btn btn-sm btn-success" (click)="createCodeSet()"><i
                                class="bi bi-plus"></i></button>
                    </h4>
                    <!-- <ul> -->
                    <div class="row" *ngFor="let cs of rule.codeSets; let i = index" (click)="selectCodeSet(cs)">
                        <div class="col-sm-6"><input class="form-control form-control-sm" type="text" required="true"
                                [(ngModel)]="cs.groupID" [class.selected]="cs.groupID == selectedCodeSet?.groupID" />
                        </div>
                        <div class="col-sm-6">

                            <div class="btn-group align-start">
                                <a class="btn btn-small btn-default" (click)="deleteCodeSet(i)"><span
                                        class="bi bi-trash"></span></a>
                                <!-- <a class="btn btn-small btn-dark" (click)="duplicateCodeSet(cs)"><span
                                    class="bi bi-files"></span></a> -->
                                <a class="btn btn-small btn-dark" (click)="moveUp(cs, rule.codeSets)"
                                    *ngIf="canMoveUp(cs, rule.codeSets)"><span class="bi bi-chevron-up"></span></a>
                                <a class="btn btn-small btn-dark disabled" *ngIf="!canMoveUp(cs, rule.codeSets)"><span
                                        class="bi bi-chevron-up"></span></a>
                                <a class="btn btn-small btn-dark" (click)="moveDown(cs, rule.codeSets)"
                                    *ngIf="canMoveDown(cs, rule.codeSets)"><span class="bi bi-chevron-down"></span></a>
                                <a class="btn btn-small btn-dark disabled" *ngIf="!canMoveDown(cs, rule.codeSets)"><span
                                        class="bi bi-chevron-down"></span></a>

                            </div>
                        </div>
                    </div>
                    <!-- </ul> -->
                </div>
                <div *ngIf="selectedCodeSet" class="col-sm-9">
                    <h6>
                        <button class="btn btn-sm btn-success" (click)="createCode()"><i class="bi bi-plus"></i>
                            Code</button> &nbsp;
                        <button class="btn btn-sm btn-success" [class.active]="showBulkImport" data-bs-toggle="button"
                            (click)="toggleBulkImport()"><i class="bi bi-card-list"></i>
                            Code List Importer</button> &nbsp;

                        <button class="btn btn-sm btn-success" [class.active]="showBulkImport" data-bs-toggle="button"
                        (click)="toggleCsvImport()"><i class="bi bi-card-list"></i>
                        CSV Importer</button> &nbsp;
                        <button class="btn btn-sm btn-success" (click)="deduplicateCodes(selectedCodeSet)"><i
                                class="bi bi-x-circle"></i>
                            Remove Duplicates</button> &nbsp;



                    </h6>
                    <!-- <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-plus-square"></i>Bulk Add
                        </button>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="#">Code List</a></li>
                          <li><a class="dropdown-item" href="#">CSV</a></li>
                          <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                      </div> -->

                    <div *ngIf="showBulkImport">
                        <div class="form-floating">
                            <input class="form-control form-control-sm" name="bulk_import_system" type="text"
                                required="true" [(ngModel)]="bulkImportSystem" />
                            <label for="bulk_import_system">Code System</label>
                        </div>
                        <div class="form-floating mt-2">
                            <textarea class="form-control form-control-sm" name="bulk_import_codes" required="true"
                                [(ngModel)]="bulkImportCodes"></textarea>
                            <label for="bulk_import_codes">Multiple Codes Separated by Whitespace and/or
                                Newlines</label>
                        </div>
                        <div class="form-floating mt-2">
                            <input class="form-control form-control-sm" name="bulk_import_confidence" type="number"
                                step="0.1" min="0" max="1" required="true" [(ngModel)]="bulkImportConfidence" />
                            <label for="bulk_import_confidence">Confidence</label>
                        </div>
                        <button class="btn btn-sm btn-success mt-2" (click)="runBulkImport()"><i class="bi bi-play"></i>
                            Run</button>
                    </div>

                    <div *ngIf="showCsvImport">
                        <div class="form-floating mt-2">
                            <textarea class="form-control form-control-sm" name="csv_import_text" required="true"
                                [(ngModel)]="csvImportText"></textarea>
                            <label for="csv_import_text">Paste CSV in the format: system, code, confidence. One per line.</label>
                        </div>
                        <div class="form-text"> Blank lines will be ignored, as well as any additional columns. Supported system URL are as follows:
                            <ul>
                                <li *ngFor="let n of supportedCodeSystems">
                                    - {{n.name}}: {{n.system}}
                                </li>
                            </ul>
                        </div>
                        <button class="btn btn-sm btn-success mt-2" (click)="runCsvImport()"><i class="bi bi-play"></i>
                            Run</button>
                    </div>

                    <div *ngIf="selectedCodeSet.codes.length > 0" class="mt-4">

                        <div class="row">
                            <div class="col-sm-3">System</div>
                            <div class="col-sm-3">Code</div>
                            <div class="col-sm-3">Confidence</div>
                            <div class="col-sm-3"></div>
                        </div>

                        <div *ngFor="let c of selectedCodeSet.codes; let i = index" class="row">
                            <div class="col-sm-3">
                                <input class="form-control form-control-sm" type="text" required="true"
                                    [(ngModel)]="c.system" />
                            </div>
                            <div class="col-sm-3">
                                <input class="form-control form-control-sm" type="text" required="true"
                                    [(ngModel)]="c.code" />
                            </div>
                            <div class="col-sm-3">
                                <input class="form-control form-control-sm" type="number" step="0.1" required="true"
                                    min="0" max="1" [(ngModel)]="c.confidence" />
                            </div>
                            <div class="col-sm-3">
                                <div class="btn-group align-start">
                                    <a class="btn btn-small btn-default" (click)="deleteCode(i)"><span
                                            class="bi bi-trash"></span></a>
                                    <a class="btn btn-small btn-dark" (click)="duplicateCode(c)"><span
                                            class="bi bi-files"></span></a>
                                    <a class="btn btn-small btn-dark" (click)="moveUp(c, selectedCodeSet.codes)"
                                        *ngIf="canMoveUp(c, selectedCodeSet.codes)"><span
                                            class="bi bi-chevron-up"></span></a>
                                    <a class="btn btn-small btn-dark disabled"
                                        *ngIf="!canMoveUp(c, selectedCodeSet.codes)"><span
                                            class="bi bi-chevron-up"></span></a>
                                    <a class="btn btn-small btn-dark" (click)="moveDown(c, selectedCodeSet.codes)"
                                        *ngIf="canMoveDown(c, selectedCodeSet.codes)"><span
                                            class="bi bi-chevron-down"></span></a>
                                    <a class="btn btn-small btn-dark disabled"
                                        *ngIf="!canMoveDown(c, selectedCodeSet.codes)"><span
                                            class="bi bi-chevron-down"></span></a>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>
    </div>

    <div *ngIf="!statusService.editing">

        <div class="row">

            <section class="col-sm-6">

                <h4>Basis </h4>
                <dl>
                    <dt>
                        System
                    </dt>
                    <dd>{{rule.basis.system}}
                    </dd>
                    <dt>Code</dt>
                    <dd>{{rule.basis.code}}</dd>
                    <dt>Display</dt>
                    <dd>{{rule.basis.display}}</dd>
                </dl>
            </section>

            <section class="col-sm-6">
                <h4>Labels
                </h4>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>System</th>
                            <th>Code</th>
                            <th>Display</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let l of rule.labels; let i = index">
                            <td>{{l.system}}</td>
                            <td>{{l.code}}</td>
                            <td>{{l.display}}</td>
                        </tr>
                    </tbody>
                </table>
            </section>
        </div>

        <section class="mt-4">

            <h2>Code Groups </h2>
            <div class="row mt-4" *ngFor="let cs of rule.codeSets; let i = index">
                <h4>{{cs.groupID}}</h4>
                <table class="table table-striped m-2">
                    <thead>
                        <tr>
                            <th>System</th>
                            <th>Code</th>
                            <th>Confidence</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let c of cs.codes">
                            <td>{{c.system}}</td>
                            <td>{{c.code}}</td>
                            <td>{{c.confidence}}</td>
                        </tr>
                    </tbody>
                </table>

            </div>

        </section>
    </div>

</div>