@import "../../stylesheets/common";

$sidebar_highlight: #444;
$sidebar_light: #111;

#editor {

    background: url(/assets/images/textures/crossword.png) repeat center center fixed;
    // background-color: white;

    // #editor_name_float {
    //     margin: 10px;
    // }

    h1 {
        padding: 10px;
        font-weight: bold;
        font-size: 2em;
        background-color: rgba(0, 0, 0, .3);
        // border-bottom: 1px solid #333;
    }

    #rules_list li {
        position: relative;
        margin: 0;
        padding: 2px 10px;
    }

    .ball {
        display: inline-block;
        cursor: pointer;
        width: 10px;
        height: 10px;
        position: absolute;
        top: 8px;
        right: 20px;
        // border: 1px solid #111;
    }

    .ball_green {
        background-color: rgba(0, 176, 20, .9);
        border-radius: 5px;
        box-shadow: 0 -2px 5px inset rgba(0, 0, 0, .5), 0 4px 4px black;
    }


    .ball_yellow {
        background-color: rgba(251, 217, 4, .9);
        border-radius: 5px;
        box-shadow: 0 -2px 5px inset rgba(0, 0, 0, .5), 0 4px 4px black;
    }


    .ball_red {
        background-color: rgba(255, 140, 50, .9);
        border-radius: 5px;
        box-shadow: 0 -2px 5px inset rgba(0, 0, 0, .5), 0 4px 4px black;
    }

    p {
        font-family: "Poppins", sans-serif;

        font-weight: 300;

        color: #999;
        padding: 5px;
    }

    a,
    a:hover,
    a:focus,
    a.active {
        color: inherit;
        text-decoration: none;
        transition: all 0.3s;
    }

    .navbar {
        padding: 15px 10px;
        background: #fff;
        border: none;
        border-radius: 0;
        margin-bottom: 40px;
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    }

    .navbar-btn {
        box-shadow: none;
        outline: none !important;
        border: none;
    }

    .line {
        width: 100%;
        height: 1px;
        border-bottom: 1px dashed #ddd;
        margin: 40px 0;
    }

    .flex_wrapper {
        display: flex;
        width: 100%;
        align-items: stretch;
        perspective: 1500px;
    }

    #sidebar.active {
        margin-left: 0px;
        transform: rotateY(0deg);
    }

    #sidebar.inactive.viewing {
        margin-left: -250px;
        transform: rotateY(100deg);
    }
    #sidebar.inactive.editing {
        margin-left: -500px;
        transform: rotateY(100deg);
    }

    #sidebar.editing {
            min-width: 500px;
            max-width: 500px;
    }

    #sidebar.viewing {
        min-width: 250px;
        max-width: 250px;
    }

    #sidebar {
        box-shadow: $drop_shadow;
        background: url(/assets/images/textures/gun_metal.png) repeat;
        // background: #2171ba;
        // background: url(/assets/images/backgrounds/ricardo-gomez-angel-2mjl2uvz9ic-unsplash.jpg) no-repeat center center fixed;
        color: #fff;
        transition: all 0.6s cubic-bezier(0.945, 0.02, 0.27, 0.665);
        transform-origin: bottom left;

        .sidebar-header {
            padding: 20px;
            background: $sidebar_light;
        }

        h4 {
            margin-top: 20px;
            padding: 10px;
            font-size: 10pt;
            font-weight: bolder;
            text-transform: uppercase;
            // background-color: rbga(71, 116, 139, .4);
        }

        ul.components {
            padding: 10px 0;
            border-bottom: 1px solid #000;

            >fieldset {
                padding: 0 20px;
            }
        }

        #powered {
            // text-align: center;
            margin: 0;
            padding: 10px;
            color: #333;
            font-size: 11pt;
        }

        // #download_button {
        //     margin: 10px;
        // }

        // #open_button {

        //     position: absolute;
        //     bottom: 10px;
        //     left: 10px;
        // }

        ul li a {
            // padding: 10px;
            font-size: 1.1em;
            display: block;
        }
        ul li a.active {
         background-color: white;
         color: black;
        }
        ul li a:hover {
            color: $sidebar_highlight;
            background: #fff;
        }
    }

    ul ul li {
        font-size: 0.8em !important;
        padding-left: 10px;
    }

    ul.CTAs {
        padding: 20px;
    }

    ul.CTAs a {
        text-align: center;
        font-size: 0.9em !important;
        display: block;
        border-radius: 5px;
        margin-bottom: 5px;
    }

    #content {
        width: 100%;
        // padding: 20px;
        min-height: 100vh;
        transition: all 0.3s;
        display: flex;
        flex-direction: column;
    }

    #sidebarCollapse {
        // display: inline;
        position: absolute;
        z-index: 100;
        margin-top: 0px;
        margin-left: 0px;
        width: 40px;
        height: 40px;
        background: none;
        cursor: pointer;

        span {
            width: 80%;
            height: 2px;
            margin: 0 auto;
            display: block;
            background: #333;
            transition: all 0.8s cubic-bezier(0.81, -0.33, 0.345, 1.375);
            transition-delay: 0.2s;
        }
    }

    #sidebarCollapse.active span:first-of-type {
        transform: rotate(45deg) translate(2px, 2px);
    }

    #sidebarCollapse.active span:nth-of-type(2) {
        opacity: 0;
    }

    #sidebarCollapse.active span:last-of-type {
        transform: rotate(-45deg) translate(1px, -1px);
    }

    #sidebarCollapse.inactive span {
        transform: none;
        opacity: 1;
        margin: 5px auto;
    }

    @media (max-width: 768px) {
        #sidebar {
            margin-left: -250px;
            transform: rotateY(90deg);
        }

        #sidebar.active {
            margin-left: 0;
            transform: none;
        }

        #sidebarCollapse span:first-of-type,
        #sidebarCollapse span:nth-of-type(2),
        #sidebarCollapse span:last-of-type {
            transform: none;
            opacity: 1;
            margin: 5px auto;
        }

        #sidebarCollapse.active span {
            margin: 0 auto;
        }

        #sidebarCollapse.active span:first-of-type {
            transform: rotate(45deg) translate(2px, 2px);
        }

        #sidebarCollapse.active span:nth-of-type(2) {
            opacity: 0;
        }

        #sidebarCollapse.active span:last-of-type {
            transform: rotate(-45deg) translate(1px, -1px);
        }
    }
}