<div id="editor">

    <div class="flex_wrapper">

        <nav id="sidebar" [class.active]="sidebarActive" [class.inactive]="!sidebarActive"
            [class.viewing]="!statusService.editing" [class.editing]="statusService.editing">

            <div *ngIf="rules_file">
                <div *ngIf="statusService.editing">
                    <div id="name_float" class="form-floating mb-3">
                        <input class="form-control form-control-lg" name="name" type="text" required="true"
                            [(ngModel)]="rules_file.name" />
                        <label for="name">Name</label>

                    </div>
                </div>
                <div *ngIf="!statusService.editing">
                    <h1>{{rules_file.name}}
                    </h1>
                </div>

                
                <ul class="list-unstyled components">
                   
                    <!-- RULES -->
                    <li>
                        <h4>
                            Rules
                            <span *ngIf="statusService.editing">
                                &nbsp;
                                <button class="btn btn-sm btn-success" (click)="createRule()"><i
                                        class="bi bi-plus"></i></button>
                            </span>
                        </h4>
                        <!-- <fieldset class="form-group"> -->
                        <ul class="list-unstyled" id="rules_list">
                            <!-- <li *ngFor="let w of rules_file.rules" (click)="selectRule(w)"> -->
                            <li *ngFor="let r of rules_file.rules" 
                                [routerLinkActive]="'active'">
                                <div *ngIf="statusService.editing">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <input class="form-control form-control-sm" type="text" required="true" [class.selected]="r.id == selectedRuleId()"
                                                [(ngModel)]="r.id" [routerLink]="['rules', r.id]"/>

                                        </div>
                                        <div class="col-sm-6">
                                            <div class="btn-group align-start">
                                                <a class="btn btn-small btn-default" (click)="deleteRule(r)"><span
                                                        class="bi bi-trash"></span></a>
                                                <a class="btn btn-small btn-dark-outline" (click)="duplicateRule(r)"><span
                                                        class="bi bi-files"></span></a>
                                                <a class="btn btn-small btn-dark-outline"
                                                    (click)="moveUp(r, rules_file.rules)"
                                                    *ngIf="canMoveUp(r, rules_file.rules)"><span
                                                        class="bi bi-chevron-up"></span></a>
                                                <a class="btn btn-small btn-dark disabled"
                                                    *ngIf="!canMoveUp(r, rules_file.rules)"><span
                                                        class="bi bi-chevron-up"></span></a>
                                                <a class="btn btn-small btn-dark-outline"
                                                    (click)="moveDown(r, rules_file.rules)"
                                                    *ngIf="canMoveDown(r, rules_file.rules)"><span
                                                        class="bi bi-chevron-down"></span></a>
                                                <a class="btn btn-small btn-dark disabled"
                                                    *ngIf="!canMoveDown(r, rules_file.rules)"><span
                                                        class="bi bi-chevron-down"></span></a>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div *ngIf="!statusService.editing" class="readonly_rule">
                                    <a role="button" [routerLink]="['/editor','rules', r.id]"
                                        [routerLinkActive]="'active'">
                                        {{r.id}}
                                    </a>
                                </div>
                                <div class="ball ball_green" ><p [innerText]="r.codeSets.length"></p></div>
                            </li>
                        </ul>
                    </li>

                    <!-- Other -->
                    <!-- <li>
                        <h4>Other</h4>
                        <ul class="list-unstyled" id="rules_list">
                            <li>
                                <a [routerLink]="['blah']" [routerLinkActive]="'active'"><span class="bi-map"></span>
                                    &nbsp;Blah</a>
                            </li>

                        </ul>
                    </li> -->
                </ul>

                <div id="powered" class="mt-3">
                    <!-- <div id=""></div> -->
                    <div class="btn-group mt-3">

                        <button id="download_button" class="btn btn-sm btn-dark" (click)="downloadRulesFile()"><span
                                class="bi-download"></span>&nbsp;Download</button>
                        <button *ngIf="statusService.permissions.edit && statusService.editing" id="edit_button"
                            class="btn btn-sm btn-dark" (click)="toggleEditMode()"><span
                                class="bi-eye"></span>&nbsp;View Mode
                        </button>

                        <button *ngIf="statusService.permissions.edit && !statusService.editing" id="edit_button"
                            class="btn btn-sm btn-dark" (click)="toggleEditMode()"><span
                                class="bi-pencil"></span>&nbsp;Edit Mode
                        </button>

                    </div>
                    <div *ngIf="statusService.permissions.edit">
                        <div class="form-check mt-3 ms-1">
                            <input id="download_editable_switch" class="form-check-input" type="checkbox"
                                name="download_editable" [(ngModel)]="download_locked" />
                            <label class="form-check-label" for="download_editable_switch"><span
                                    class="bi bi-lock"></span> Lock Download</label>
                        </div>
                    </div>

                    <br />


                    <div *ngIf="statusService.permissions.edit && statusService.editing">
                        <div class="form-floating mb-3">
                            <input class="form-control form-control-sm" name="updated_at" type="text" required="true"
                                [(ngModel)]="rules_file.updated_at" />
                            <label for="updated_at">Updated At</label>
                        </div>
                    </div>

                    <div *ngIf="!statusService.editing" class="mt-3">
                        Data Updated <b>{{rules_file.updated_at}}</b>
                        <br />
                        with <a role="link" target="_blank" href="https://www.asushares.com">ASU SHARES</a> Rules Dashboard
                    </div>
                    <br />
                    <br />
                    <div class="btn-group">

                        <button id="open_button" class="btn btn-sm btn-outline-dark" [routerLink]="['/']"><span
                                class="bi-folder2-open"></span> Close Rules File..</button>

                    </div>
                    <!-- <button class="btn btn-sm btn-outline-dark float-end" [routerLink]="['/settings']"><span
                            class="bi bi-gear"></span></button> -->

                </div>
            </div>
        </nav>

        <div id="content">
            <button type="button" id="sidebarCollapse" class='navbar-btn' [class.active]="sidebarActive"
                [class.inactive]="!sidebarActive" (click)="toggleSidebar()">
                <span></span>
                <span></span>
                <span></span>
            </button>

            <router-outlet></router-outlet>

        </div>
    </div>
</div>